@using OData.Models
@using OData.Mvc
@using OData.Controllers.OData
@model UniverseSearchModel
@{
    ViewBag.Title = "KoSearchView";
    ViewBag.SearchTitle = "KoSearchView";
    var propertyOfFunc = UniversesController.PropertyNameHelper;
    const string odata = UniversesController.OdataSegment;
    var koGridModel = new KoGridModel
                        {
                            SearchModel = Model,
                            PrimaryKey = propertyOfFunc(a => a.UniverseID),
                            OdataSegment = odata,
                            ModelType = UniversesController.ModelType,
                            FilterMetadata = ViewData.ModelMetadata.GetFormGroups(new ViewDataDictionary(Model.SearchForm)).SelectMany(a => a.Select(b => b)).OrderBy(a => a.PropertyName).ToArray()
                        };
    ViewBag.RowTemplate = Html.Partial("/Views/Universe/Row.cshtml", new ViewDataDictionary());
}
<h2>KoSearchView</h2>
<h4 class="error">@ViewBag.Error</h4>
<div class="content-wrapper">
    <a href="@Url.Action("create")" class="button right">Add New Universe</a>
    @Html.Partial("/Views/Shared/kosearch/_SearchFormKO.cshtml", Model.SearchForm)
    @Html.Partial("/Views/Shared/kosearch/_SearchGridKO.cshtml", Model)
</div>
<div id="DetailHolder"></div>

@section Scripts
{
    @* 
        @Scripts.Render("~/Scripts/ViewScripts/Universe/index.js")
    *@
    @Html.Partial("/Views/Shared/kosearch/_SearchGridScripts.cshtml", koGridModel)
}

