@using OData
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="~/Content/KoGrid.css"/>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render(Links.Bundles.Scripts.jqueryui)
    @Scripts.Render(Links.Bundles.Scripts.knockout)
    @RenderSection("scripts", required: false)
</body>
</html>
